.DS_Store
._*
*~
cache/*
log/*
web/uploads/*
nbproject
web/*.sql.*

web/blogs/daily-dish/wp-content/blogs.dir/*
web/blogs/daily-dish/local-config.php

*.html.gz
*.js.gz
*.css.gz
*.xml.gz
*.eot.gz
*.svg.gz
*.ttf.gz
*.woff.gz

config/databases.yml

lb-mon.txt
test.php
