@charset "UTF-8";

#main-header .sign-in,
#main-header .logo-space .hd-ad,
#main-header .search-bar,
#main-header .mb-nav,
#main-header .banner,
#main-content .masthead,
#main-content .sidebar,
#main-content .article .social,
#main-content .article #postmeta,
#main-content .article #respond,
#main-footer .search-bar,
#main-footer .title,
#main-footer .upper,
#main-footer .lower ul,
#main-footer .lower p {
	display:none;
}
#main-content .article,
#main-footer .lower p.copyright,
#main-footer .lower > p:last-child {
	display:inline-block;
	width:100%;
	text-align:center;
	clear:both;
	margin:0;
	padding:0;
}
#main-content .article {
	text-align:left;
}
.logo-space h1 a {
	text-indent: 0;
}
#main-header,
#main-content,
#main-footer {
	padding:0;
	margin:0;
	height:auto;
}